html,
body {
  height: 100%;
  width: 100%;
  margin: 0px;
  padding: 0px;
  overflow-x: hidden;
  margin: 0;
}

* {
  margin: 0;
  padding: 0;
}

/*  start nav bar */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
}

.logo1 {
  width: 8rem;
  padding: 2px;
  margin: -56px;
}

.logo span {
  color: var(--color-primary);
}

.menu-bar {
  background-color: #3a3f58;
  height: 66px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 5%;
  color: white;
  position: relative;
}
.menu-bar h1{
  margin-left: 300px;
  display: flex;
  align-items: center;
  color: white;
  font-family: serif;
  font-size: 35px;
  text-shadow: 0 1px 0 #964b00, 0 2px 0 #d48433, 0 3px 0 #d48433,
    0 4px 0 #d48433, 0 20px 30px rgba(0, 0, 0, 0.5);
}

.menu-bar ul {
  list-style: none;
  display: flex;
}

.menu-bar ul li {
  padding: 8px 125px 2px 34px;
  position: relative;
}

.menu-bar ul li:hover {
  color: white;
  font-size: 45px;
  font-family: serif;
}

.menu-bar ul li a {
  font-size: 22px;
  color: var(--color-white);
  text-decoration: none;
  transition: all 0s;
}

.menu-bar ul li a:hover {
  color: var(--color-primary);
}

.fas {
  float: right;
  margin-left: 10px;
  padding-top: 3px;
}

/* dropdown menu style */
.dropdown-menu {
  display: none;
}

.menu-bar ul li:hover .dropdown-menu {
  display: block;
  position: absolute;
  left: 0;
  top: 92%;
  /* background-color: #7fbadec4; */
  background-color: #3d4261;
  padding: 0px 0px;
  margin: 0px 48px;
  height: 300px;
  width: 90px;
}

.menu-bar ul li:hover .dropdown-menu ul {
  display: block;
  margin: 10px -19px;
}

.menu-bar ul li:hover .dropdown-menu ul li {
  width: 90px;
  padding: 10px;
}

/* start content */
#Sem1 h2{
    margin-top: 20px;
}
/* h1 {
  margin: 0px;
  padding: 0px;
  background-color: #3a3f58;
  color: white;
  font-family: serif;
  font-size: 35px;
  text-shadow: 0 1px 0 #964b00, 0 2px 0 #d48433, 0 3px 0 #d48433,
    0 4px 0 #d48433, 0 20px 30px rgba(0, 0, 0, 0.5);
} */
h2 {
  margin: 0px 0px;
  padding: 11px 0px;
  font-size: 25px;
  background-color: #3a3f58;
  font-family: Arial, Helvetica, sans-serif;
  text-shadow: 2px 3px 5px orange;
  color: white;
}
#heading1 {
  background-color: white;
  font-size: 20px;
  font-weight: 500;
  margin: 0px;
  padding: 0px 40px;
  text-align: center;
}
span,
h3 {
  margin: 0px 0px;
  padding: 0px 0px;
}
.container1 {
  display: flex;
  flex-wrap: wrap;
  margin: 0px 0px;
  padding: 50px 0px;
  /* background-color: rgb(141, 209, 186); */
  column-gap: 70px;
}
#container1,
span {
  text-decoration: underline;
  padding-left: 100px;
}
.c1,
a {
  color: #c73f2d;
  font-weight: 700;
}

.c1 {
  font-size: 20px;
  display: flex;
  flex-wrap: wrap;
  height: 380px;
  width: 320px;
  border: none;
  padding: 20px 8px;
  margin: -32px 63px;
  text-align: center;
  /* background-color: rgb(140, 234, 234); */
  background-color: #3a3f58;
  border-radius: 25px;
  box-shadow: -8px 8px #585d74;
  cursor: pointer;
  color: white;
}
.c1:hover {
  transform: scale(1);
  font-size: 25px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
/* CALCULUS CSS */
#heading2 {
  /* background-color: #91c6b3; */
  background-color: white;
  color: black;
  font-size: 20px;
  font-weight: 500;
  margin: 43px 71px;
  padding: 0px 617px;
  text-align: center; /* Centers the heading text */
}

span,
h3 {
  margin: 0;
  padding: 0;
}

.container2 {
  display: flex;
  flex-wrap: wrap;
  margin: 0px 0px;
  padding: 50px 0px;
  /* background-color: rgb(141, 209, 186); */
  column-gap: 70px;
}
#container2,
span {
  text-decoration: underline;
  padding-left: 100px;
}

.c2 {
  font-size: 20px;
  display: flex;
  flex-wrap: wrap;
  height: 380p;
  width: 320px;
  border: none;
  padding: 20px 8px;
  margin: -80px 63px;
  text-align: center;
  background-color: #3a3f58;
  border-radius: 25px;
  box-shadow: -8px 8px #585d74;
  cursor: pointer;
  color: white;
}
.c2:hover {
  transform: scale(1);
  font-size: 25px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
/* PC CSS */
#heading3 {
  /* background-color: #91c6b3; */
  font-size: 20px;
  font-weight: 500;
  color: black;
  margin: 91px 70px;
  padding: 0px 511px;
  text-align: center; /* Centers the heading text */
}

span,
h3 {
  margin: 0;
  padding: 0;
}

.container3 {
  display: flex;
  flex-wrap: wrap;
  margin: 0px 0px;
  padding: 50px 0px;
  /* background-color: rgb(141, 209, 186); */
  column-gap: 70px;
}
#container3,
span {
  text-decoration: underline;
  padding-left: 100px;
}

.c3 {
  font-size: 20px;
  display: flex;
  flex-wrap: wrap;
  height: 380px;
  width: 320px;
  border: none;
  padding: 20px 8px;
  margin: -132px 63px;
  text-align: center;
  background-color: #3a3f58;
  border-radius: 25px;
  box-shadow: -8px 8px #585d74;
  cursor: pointer;
  color: white;
}
.c3:hover {
  transform: scale(1);
  font-size: 25px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
/* PF CSS */
#heading4 {
  /* background-color: #91c6b3; */
  font-size: 20px;
  font-weight: 500;
  color: black;
  margin: 143px 70px;
  padding: 0px 511px;
  text-align: center;
}

span,
h3 {
  margin: 0;
  padding: 0;
}

.container4 {
  display: flex;
  flex-wrap: wrap;
  margin: 0px 0px;
  padding: 50px 0px;
  /* background-color: rgb(141, 209, 186); */
  column-gap: 70px;
}
#container4,
span {
  text-decoration: underline;
  padding-left: 100px;
}

.c4 {
  font-size: 20px;
  display: flex;
  flex-wrap: wrap;
  height: 380px;
  width: 320px;
  border: 1px solid #000;
  padding: 20px 8px;
  margin: -166px 63px;
  text-align: center;
  background-color: #3a3f58;
  border-radius: 25px;
  box-shadow: -8px 8px #585d74;
  cursor: pointer;
  color: white;
}
.c4:hover {
  transform: scale(1);
  font-size: 25px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
/* WORKSHOP CSS */
#heading5 {
  /* background-color: #91c6b3; */
  font-size: 20px;
  font-weight: 500;
  color: black;
  margin: 171px 71px;
  padding: 0px 617px;
  text-align: center; /* Centers the heading text */
}

span,
h3 {
  margin: 0;
  padding: 0;
}

.container5 {
  display: flex;
  flex-wrap: wrap;
  margin: 0px 0px;
  padding: 50px 0px;
  /* background-color: rgb(141, 209, 186); */
  column-gap: 70px;
}
#container5,
span {
  text-decoration: underline;
  padding-left: 100px;
}

.c5 {
  font-size: 20px;
  display: flex;
  flex-wrap: wrap;
  height: 380px;
  width: 320px;
  border: 1px solid #000;
  padding: 20px 8px;
  margin: -197px 63px;
  text-align: center;
  background-color: #3a3f58;
  border-radius: 25px;
  box-shadow: -8px 8px #585d74;
  cursor: pointer;
  color: white;
}
.c5:hover {
  transform: scale(1);
  font-size: 25px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

/* Responsive section */

@media (max-width: 600px) {
  .menu-bar {
    flex-direction: column;
    height: auto;
  }
  .menu-bar h1{
    font-size: 24px;
    margin: 20px 0;
    padding: 0;
    text-align: center;
  }
  .logo1 {
     /* margin-top: -40px; */
     padding: 30px 20px;
  }

  .menu-bar ul {
    flex-direction: column;
    /* width: 100%; */
    padding: 0;
  }

  .menu-bar ul li {
    padding: 8px 0;
    width: 60%;
    text-align: center;
  }

  .menu-bar ul li a {
    font-size: 18px;
    margin: 30px 250px;
  }

  .dropdown-menu {
    width: 100%;
    left: 0px;
    top: 100%;
    height: auto;
  }
  .menu-bar ul li:hover .dropdown-menu {
    display: block;
    width: 20%;
    left: 250px;
  }
  .dropdown-menu ul li {
    width: 100%;
    text-align: center;
  }
  .dropdown-menu ul li a {
    margin: 0px -50px;
  }

  h1 {
    font-size: 30px;
    padding: 20px;
  }

  h2 {
    font-size: 20px;
    padding: 10px;
  }
  /* Applied physics css(R) */
  .container1 {
    padding: 20px;
    column-gap: 20px;
  }
  #heading1 {
    padding: 5px;
  }
  #box-2 {
    padding-left: 20px;
  }
  #box-3 {
    padding-left: 20px;
  }
  .c1 {
    width: 100%;
    height: auto;
    margin: 7px 0;
    padding: 15px 0px;
    margin-right: 10px;
  }
  .logo1 {
    width: 6rem;
    margin: -40px;
  }
  embed {
    width: 100%;
    height: auto;
  }
  iframe {
    width: 100%;
    height: auto;
  }
  /* calculus css(R) */
  .container2 {
    padding: 20px;
    column-gap: 20px;
  }
  #heading2 {
    margin: 2px 0px;
    padding: 0px 135px;
  }

  .c2 {
    width: 100%;
    height: auto;
    margin: 7px -20px;
    padding: 15px 5px;
    margin-right: 1090px;
  }
  .logo1 {
    width: 6rem;
    margin: -40px;
  }
  embed {
    width: 100%;
    height: auto;
  }
  iframe {
    width: 100%;
    height: auto;
  }
  /* PC CSS(R) */
  .container3 {
    padding: 20px;
    column-gap: 20px;
  }
  #heading3 {
    margin: 6px 0px;
    padding: 0px 20px;
  }
  #box-8 {
    padding-left: 20px;
  }
  #box-9 {
    padding-left: 20px;
  }

  .c3 {
    width: 100%;
    height: auto;
    margin: 7px -40px;
    padding: 15px 0px;
    margin-right: 1040px;
  }
  .logo1 {
    width: 6rem;
    margin: -40px;
  }
  embed {
    width: 100%;
    height: auto;
  }
  iframe {
    width: 100%;
    height: auto;
  }
  /* PF CSS (R)*/
  .container4 {
    padding: 20px;
    column-gap: 20px;
  }
  #heading4 {
    margin: 10px -30px;
    padding: 0px 35px;
  }
  #box-11 {
    padding-left: 20px;
  }
  #box-12 {
    padding-left: 20px;
  }
  .c4 {
    width: 100%;
    height: auto;
    margin: 7px -60px;
    padding: 15px 0px;
    margin-right: 1020px;
  }
  .logo1 {
    width: 6rem;
    margin: -40px;
  }
  embed {
    width: 100%;
    height: auto;
  }
  iframe {
    width: 100%;
    height: auto;
  }
  /* WORKSHOP CSS(R) */
  .container5 {
    padding: 20px;
    column-gap: 20px;
  }
  #heading5 {
    margin: 10px -50px;
    padding: 0px 120px;
  }
  #box-14 {
    padding-left: 20px;
  }
  #box-15 {
    padding-left: 20px;
  }
  .c5 {
    width: 100%;
    height: auto;
    margin: 7px -80px;
    padding: 15px 0px;
    margin-right: 1000px;
  }
  .logo1 {
    width: 6rem;
    margin: -40px;
  }
  embed {
    width: 100%;
    height: auto;
  }
  iframe {
    width: 100%;
    height: auto;
  }
}
